{% extends 'index.html' %}

{% block content %}

<div class="page-header" style="padding-top: 100px;">
    <div>
        <a href="../admin/atxTest/device/add/" class="btn btn-info" role="button"
           style="float: right;background-color: #007bff;border-color: #007bff;">Add Device</a>
    </div>
    <form class="navbar-form" method="get" action="/devicesearch/">

        <div class="form-inline">
            <div class="col-sm-10">
                <input class="form-control" type="search" name="id" placeholder="id">
                <input class="form-control" type="search" name="ip" placeholder="ip">
                <input class="form-control" type="search" name="mac" placeholder="mac">
                <input class="form-control" type="search" name="status" placeholder="status">
                <button type="submit" class="btn btn-outline-primary" style="height: calc(1.5em + .75rem + 2px);">
                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd"
                              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </button>
            </div>
        </div>

        {% csrf_token %}

    </form>
</div>


<div class="row" style="padding-top: 15px;">
    <div class="col-md-12">
        <table class="table table-striped">
            <!--    <style>-->
            <!--    td {-->
            <!--          white-space:nowrap;overflow:hidden;text-overflow: ellipsis;-->
            <!--    }-->
            <!--    </style>-->

            <thead>
            <tr>
                <th>ID</th>
                <th>ip</th>
                <th>mac</th>
                <th>status</th>
                <th>edit</th>
                <th>remove</th>
            </tr>
            </thead>

            <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.ip }}</td>
                <td>{{ device.mac }}</td>
                <td>{{ device.status }}</td>
                <td><a style='color:light blue' id="add_id_device"
                       href="../admin/atxTest/device/{{ device.id  }}/change/"><img
                        src="/static/admin/img/icon-changelink.svg"/></a></td>
                <td><a style='color:light blue' id="delete_id_device"
                       href="../admin/atxTest/device/{{ device.id  }}/delete/"><img
                        src="/static/admin/img/icon-deletelink.svg"/></a></td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    <div class="container">
        <nav aria-label="Page navigation example" >
            <ul class="pagination justify-content-center">
                {# 上一页链接开始#}
                {% if devices.has_previous %}
                {# 如果有上一页则正常显示上一页链接#}
                <li class="page-item">
                    <a class="page-link" href="/deviceview/?page={{ devices.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {# 上一页标签 #}
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {# 如果当前不存在上一页则上一页的链接不可点击#}
                {% endif %}
                {# 上一页链接开始#}

                {% for num in devices.paginator.page_range %}
                {% if num == currentPage %}
                <li class="page-item active"><a class="page-link" href="/deviceview/?page={{ num }}">{{ num }}</a></li>
                {#显示当页数链接#}
                {% else %}
                <li class="page-item"><a class="page-link" href="/deviceview/?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {# 下一页链接开始#}
                {% if devices.has_next %} {# 如果有下一页则正常显示下一页链接#}
                <li class="page-item">
                    <a class="page-link" href="/deviceview/?page={{ devices.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
                {# 下一页链接结束#}


            </ul>
        </nav>
    </div>
</div>
{% endblock %}